:root {
    --body-bg-color: #d9dcd6;
    --header-bg-color: #2a607c;
    --side-bg-color: #2589bd;
    --article-bg-color: #0072bb;
    --text-color: #fff;
    --nav-hover-bg-color: rgb(125, 159, 209) ;
    --header-font-family: 'Gill sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* ----Body------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--body-bg-color) ;
}
/*End body*/

/*Navbar styling*/

.navbar {
    width: 100%;
    display: flex;
    background-color: var(--header-bg-color);
    color: var(--text-color);
    position: fixed;
}

.logo {
    color: var(--text-color);
    font-size: 48px;
    padding-top: 20px;
}
/*the seo color ia the same as the nav hover color*/
.seo {
    color: var(--body-bg-color);
}

.navbar a {
    color: var(--text-color);
    padding: 14px 20px;
    text-decoration: none;
    text-align: right;
}

.navbar a:hover { 
    background-color: var(--nav-hover-bg-color);
    color: var(--text-color)
}



/*------Header--------*/
.header {
    padding: 20px;
    font-family: var(--header-font-family);
    background-color: var(--header-bg-color);
    color: var(--text-color);
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}



p {
    font-size: 16px;
}

.figure {
    display: flex;
    background-color: var(--article-bg-color);
    height: 60rem;
    max-width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/digital-marketing-meeting.jpg");
    background-size: cover;
}
/*
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
*/

.article-body {
    margin-bottom: 20px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--article-bg-color);
    color: var(--text-color);
    float: left;
}

.article-img {
    float: left;
    margin-right: 25px;
    margin-left: 20px;
    width: 200px;
}
/*
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--side-bg-color);
}

.benefit {
    margin-bottom: 32px;
    color: var(--text-color);
}

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}


.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}




.footer {
    flex: 100%;
    padding: 20px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background: var(--body-bg-color);
}

.footer h2 {
    font-size: 20px;
}

/* Responsive layout when screen is < 700px wide*/
@media screen and (max-width: 700px) {
    .row, 
    .navbar {
        flex-direction: column;
    }

    }
    
@media  screen and (max-width:700px) {
    .row,
    .side {
        flex-direction: column;
    }
    
}

